<!DOCTYPE html>
<html>
<head>
<style>
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 125px;
}

  body {font-family: Verdana, sans-serif;}
  body {background-color: #FFF8DC;}
  h1   {color: black;}
  h2   {color: black;}
  p    {color: black;}
</style>
</head>

<body>

<center>
<h1>SLOTHSBNB</h1>
</center>
<div class="fixed"><iframe src="https://giphy.com/embed/I8eorWE0QuYYU"  width="100" height="100" frameBorder="0"  allowFullScreen></iframe><p><a href="hth-pizza-sloths-I8eorWE0QuYYU"></a></p></div>

<%= yield %>
</body>
</html>