<!DOCTYPE html>
<html>
<head>
<style>

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 125px;
  z-index: -1;
}

  body {font-family: Verdana, sans-serif;}
  body {background-color: white;}
  h1   {color: black;}
  h2   {color: black;}
  p    {color: black;}
</style>
</head>

<body>

<center>
<h1>SLOTHSBNB</h1>
</center>
<div class="fixed"><img src= https://i.postimg.cc/2yR0cJxt/DALL-E-2022-10-12-10-01-58-Sloth-flying-on-pizza-slice-in-space-logo-removebg-preview.png width="200" height="200" frameBorder="0" ></p></div>

<%= yield %>
</body>
</html>