<h1>Create New Space!</h1>

<form action="/spaces/new" method="POST">
<br>
	<input type="text" name="space_name" placeholder="Space name">
</br>
<br>
<textarea name="description" rows="8" cols="50" placeholder="Describe your beautiful space..."></textarea>
</br>
<br>
	<input type="number" step=".01" name="price_per_night" placeholder="Price per night">
</br>
<br>
  Availability
</br>
<br>
  <label>from:</label>
	<input type="date" name="available_from" value="2022-09-22" min="2022-09-22" max="2023-09-22">
  <label>to:</label>
	<input type="date" name="available_to" value="2022-09-22" min="2022-09-22" max="2023-09-22">
</br>
<br>
	<input type="submit" value="List this space">
</br>

<% if @space != nil %>
	<% if @space.save %>
	<p>Success! <%= @space.space_name %> has been created.</p>
	<% else %>
	<h4>OOPS! Something has gone horribly wrong.</h4>
	<ul>
		<% @space.errors.full_messages.each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>
<% end %>

</form>